/**
PALETTE:

white
black
#FC3

(find and replace)
**/


*{
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS";
	font-weight: normal;
}
body{
	/*TODO: IE compatability*/
	background-image: url(img/bkg_grad.PNG);
	background-size: 100%;
}
a{
	opacity: 0.9;
	text-decoration:none;
}
a:hover{
	opacity: 1;
}
input{
border: 0px;
padding: 2px 4px;
margin: 0;
}
input.button{
background-color: black;
color: white;
}
#search{
width: 150px;
border: 1px solid white;
height: 22px;
}
#search .text{
width: 82px;
}
#search .button{
width: 60px;
}
h1{
	width: 100%;
	color: white;
	width: 100%;
	background-color: black;
	font-size: 17pt;
}
h1 .inner{
	padding: 10px 13px;
}
h2{
	font-weight: normal;
    font-size: 17pt;
	text-align: right;
	background-color: black;
	color: white;
	width: 100%;
    line-height: 1em;
	border-bottom: 5px solid #FC3;
}
h2 .inner{
	padding: 10px 13px;
}
h3{
	margin-top: 0px;
	padding: 5px 0px;
	background-color: black;
	border-top: 5px solid #FC3;
	font-size: 14pt;
	color: white;
}
h3 .date{
	padding:5px 10px;
	background-color: #FC3;
	color: black;
}
h3 .main{
	padding:5px 10px;
}

p, .content{
line-height: 1.6em;
}

.lightbkg a, .lightbkg a:visited{
	color: black;
}
.darkbkg a, .darkbkg a:visited{
	color: white;
}
.tall{
	height: 100%;
}
.full{
	width: 100%;
}
.wide{
	width: 1050px;
}
.centerwrap{
	text-align: center;
}
.centered{
	margin: 0 auto;
	text-align: left;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.island{
	border-bottom: 5px solid #FC3;
	box-shadow: black 2px 2px 10px 0px;
	background-image: url(img/gradient.png);
	background-size: 100% auto;
	background-repeat: repeat-y;
	overflow: hidden;
}
.padded{
	padding: 15px;
}
.spacetop{
	margin-top: 10px;
}
.spacebottom{
	margin-bottom: 10px;
}
.spaceleft{
	margin-left: 10px;
}
.spaceright{
	margin-right: 10px;
}
.lightbkg{
	background-color: white;
	color: black;
}
.blackbkg{
	background-color: black;
	color: white;
}

/***STICKY FOOTER STYLES**/
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
#wrap {min-height: 100%;}
#main {
	overflow:visible;
	padding-bottom: 200px;
	min-height:720px;
}  /* must be same height as the footer */
#footer{
position: relative;
margin-top: -190px;
height: 200px;
clear:both;
}
#footer #awards img{
	margin: 10px -20px;
	box-shadow: 0px 0px 25px 15px black;
	z-index: -1;
	height: 30px;
}
#footer h2{
border-bottom: 1px solid #AAA;
text-align: left;
}
#footer .content{
line-height: 2em;
padding-left: 20px;
}
/***END STICKY FOOTER STYLES**/

#logo{
	text-indent: -99999px;
	width: 230px;
	height: 65px;
	background-image: url(img/logo.PNG);
}
#header, #footer{
	background-color: black;
	color: white;
	padding: 16px 0px;
}
#header{
	border-bottom: 5px solid #FC3;
}

/***NAVBAR STYLES****/
#navbar{
	margin-top: 25px;
	list-style: none;
	text-align: center;
	padding: 2px 0px 4px 0px;
	margin-right: -5px;
}
#navbar li{
	display: inline;
	padding: 2px 50px 0px 25px;
}
#navbar li a{
	font-size: 12pt;
	text-decoration: none;
	padding-bottom: 35px;
}
#navbar li a.active{
	color: white;
	opacity: 1;
	font-weight: bold;
	background-image: url(img/cur_page.PNG);
	background-repeat: no-repeat;
	background-position: bottom center;
}
/***END NAVBAR STYLES****/

/***SLIDESHOW STYLES****/
.slideshow{
	overflow: hidden;
	position: relative;
}
.slideshow .description, .slideshow .descriptiontext{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px 0px 30px 0px;
	width: 100%;
	color: white;
	opacity: 0.6;
}
.slideshow .description{
	background-color: black;
}
.slideshow h1{
	font-size: 21pt;
	background: none;
}
.slideshow .list{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
	
	height: 35px;
	width: 100%;
}
.slideshow .list .item{
	float:  left;
	margin: 5px;
	margin-top: 13px;
	background-image: url(img/tiny_circle.PNG);
	background-position: top;
	opacity: 0.7;
	height: 13px;
	width: 13px;
}
.slideshow .list .item.active, .slideshow .list .item:hover{
	background-position: bottom;
	opacity: 1;
}
/***END SLIDESHOW STYLES****/